ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
DATABASE_URI=

EMAIL_USER="email@email.com" # required if email verification is true
EMAIL_PASSWORD= # required if email verification is true
ENABLE_EMAIL_VERIFICATION=true  # Email Verification true/false -> true for email verifictaion using OTP and false for direct login

BHARATSTOCK_API_KEY=your_api_key_here
BHARATSTOCK_BASE_URL=https://bharatstockapi.com

REDIS_URL=redis://localhost:6379